<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Threatened Species</title>
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <!-- Fusion Chart -->
    <script type="text/javascript" src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.zune.js"></script>
    <!-- Leaflet and heatmap extension -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/leaflet-heat.js') }}"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Config vars - Replace w/ Heroku configs! -->
    <script src="{{ url_for('static',filename='js/config.js') }}"></script>
    <!-- Main styleshet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <script>
        // Declare 'static' path and colors
        const static = "{{ url_for('static',filename='') }}"
        const colorPalette = {
            red:'#ff9049',
            orange:'#f7c018',
            blue:'#7cbdf1',
            green:'#84bf13',
            
            dark_red:'#e66e24',
            dark_orange:'#e2ab05',
            dark_blue:'#5da2db',
            dark_green:'#6fb104',
        }
    </script>
    <link href="{{ url_for('static',filename='css/map-div.css') }}" rel="stylesheet">
</head>
<body>
    <nav>
        <div id="navbar">
            <svg width="100%" height="100px" id="nav-svg">
                <g id="nav-buttons">
                    <g id="top-buttons">
                        <!-- top-level buttons go here -->
                    </g>
                    <g id="sub-buttons">
                        <!-- second-level buttons go here (unused) -->
                    </g>
                </g>
            </svg>
        </div>
    </nav>
    <script src="{{ url_for('static',filename='js/navbar.js') }}"></script>
    <!-- Heatmap -->
    <div id ="map" class="graph-div"></div>
    <script src="{{ url_for('static',filename='js/heatmap.js') }}"></script>
    <!-- Line graph -->
    <div id="chart-container" class="graph-div"><p class="article">Loading FusionChart...</p></div>
    <script src="{{ url_for('static',filename='js/fusioncharts.js') }}"></script>
    <!-- Scatterplot -->
    <div id ="scatterplot" class="graph-div" style="margin:auto"></div>
            <!-- <div id ="3d"></div> -->
    <script src="{{ url_for('static',filename='js/scatter.js') }}"></script>
    <!-- Summary -->
    <div id="summary" class="graph-div article">
        <!-- <p>Good mornin fine people!</p> -->
        <h1>Our Findings</h1>

        <h2>1. Stacked Line Chart</h2>
        <p>The International Union for Conservation of Nature (IUCN) collects valuable research 
            from around the world to provide and continually improve information on endangered species. 
            Each category on The IUCN Red List notes the reasons for the change recorded, 
            which allows us to quickly identify species that are genuinely improving or deteriorating in status. 
            Plant species are moving towards increased extinction risk most rapidly, while vertebrates are the second most threatened group. 
            We see from the graph that the least affected group is of fungi and protists. 
            This may be because fewer studies on those species are performed in general,
            as there is no data available for these species in the records until 2002.
        </p>

        <h2>2. Heatmap</h2>
        <p>Direct threats to species are the proximate human activities and processes that have impacted, 
            are impacting, or may impact the status of the taxon being assessed (e.g., unsustainable fishing or logging).
            <!-- # Redundant? #  Direct threats are synonymous with sources of stress and proximate pressures.  -->
            Threats can be past (historical, unlikely to return; or historical, likely to return), 
            ongoing, and/or likely to occur in the future. 
            The present heatmap show the regions with most number of threatened species. 
            Ecuador is a hotspot for species endangerment, with by far the highest number of 
            threatened species due to its large number of endangered plants.
            Following closely in rank are India, Madagascar and Tanzania.
        </p>

        <h2>3. Scatter Plot</h2>
        <p>Reserve networks figures prominently claim conservation strategies that aim to reduce extinction rates. 
            We test this claim by plotting the protected areas and deforestation against the number of species at risk in 208 countries. 
            We compared numbers of threatened mammals, birds, higher plants and fungi species at risk included in existing countries to with
            the percentage of protected reserves and the amount of annual deforestation within the country.
            We indeed saw that some of the countries with more threatened species, like New Caledonia and Slovenia,
            did have a significant amount of conserved area and lower amount of deforestation. 
            However some countries like US and Australia, which have high numbers of threatened species,
            have a lesser protected area. Overall, the correlation between conservation efforts 
            and endangerment levels is unclear, likely due to the negative-feedback-loop nature
            of conservation versus endangerment.
            <!-- # Getting off-topic / Too much editorializing? # Reserves play a useful role in conserving endangered species that occur within them, 
            reducing extinction rates in a region with much of the world’s remaining wilderness will require 
            integrating conservation strategies with agricultural and urban land-use plans outside formally protected areas.  -->
        </p>

        <h2>Final Conclusion</h2>
        <!-- Choose your adventure below: -->
        <!-- <p>The main threats are no longer present, or conservation measures (e.g., reintroduction, habitat protection or restoration, legal protection, harvest management, etc.) have successfully improved the status of the species enough to downlist it to a lower category of threat.
            </p>
            <p>The main threats have continued unabated, have increased, or new threats have developed causing the status of the species to deteriorate enough to uplist it to a higher category of threat. 
            </p>-->
    </div>

    <script>
        // Hide all graph divs except #map
        d3.selectAll(".graph-div").style("display","none")
        d3.select("#map").style("display","block")
        console.log(window.innerWidth)
    </script>

</body>
</html>